body{
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	background: url(../images/homeBg.jpg);
	background-repeat:no-repeat;
    background-size: cover;
}
h1,h2,h3,h4,h5,h6{
    margin:0px;
    padding:0px;
    font-weight: normal;
}
a{
    text-decoration: none;
    color:#333;
}
h1{
    font-size: 45px;
}
p{
    font-size: 17px;
    align:justify;
    font-weight: normal;
}
.frontTitle p{
    font-size: 22px;
}
.wrapper{
    background-color:rgba(0,0,0,0.5);
    min-height: 100vh;
}
div{
    box-sizing: border-box;
}
.container-full{
    width:100%;
    padding:0px;
    margin:0px;
    overflow:auto;
}
.container{
    max-width:1074px;
    display: flex;
    margin:0px auto;
    padding:15px;
    word-wrap: wrap;
    flex-direction: column;
    overflow:auto;
    
   
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    
}
.rowCenter{
    width:50%;
    justify-content: center;
    align-items: center;
}
[class*="col-"]{
   flex:0 1 auto;
}

.pad-top{
    padding-top: 50px;
}
.pull-right{
    justify-content: flex-end;
} 

 .frontTitle h1{
    color:#fff;
    text-shadow: 1px 1px 1px #000;
}

.frontTitle p{
    color:#999;
    text-shadow: 1px 1px 1px #000;
}
.btn{
    padding:8px 30px;
    border: none;
    background: #CCC;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
btn-md{
	padding:15px 30px;
}
.btn-full{
	display:inline-block;
    font-size:18px;
    padding:13px 30px; 
    width: 100%;
}
.btn-pink{
    background:-moz-linear-gradient(top,#C03, #F06,#C03);
	background:-o-linear-gradient(top,#C03, #F06,#C03);
	background:-ms-linear-gradient(top, #F06,#C03);
	background:-webkit-linear-gradient(top,#C03, #F06,#C03);
	color:#fff;
}
.btn-blue{
    background:-moz-linear-gradient(top,#03C, #069,#069);
	background:-o-linear-gradient(top,#03C, #069,#069);
	background:-ms-linear-gradient(top,#03C, #069,#069);
	background:-webkit-linear-gradient(top,#03C, #069,#069);
	color:#fff;
}
.btn-yellow-test{
    color:rgb(216, 226, 128);
}

.input-block{
    width:98%;
    height:40px;
    margin-bottom:20px;
}
.input-block[placeholder]{
    padding-left: 10px;
    font-size: 16px;

}
.loginForm .input-block{
    background-color:rgba(255,255,255, 0.7);
    border: none;
    border-radius: 4px;
}
.loginForm label{
    font-size: 17px;
    color: #CCC
}

.sign{
    color: #fff;
    font-size: 18px;
    display:block;
    text-align:center;
    font-style: italic;
}
.text-blue{
    color: #03C
}
.vertical-menu{
    overflow: hidden;
}
.vertical-menu{
	list-style:none;
	display:flex;
	
}
.vertical-menu > li{
	padding:20px 0px;
}
.vertical-menu > li > a{	
	color:#fff;
	font-size:18px;
	padding:10px 15px;
}
.vertical-menu::after{
	content:'';
	clear:both;
}

.vertical-menu{
    border:1px solid #CCC;
}
.horizontal-menu{
    width:80%;
    float: right;
    display: none;
}
.horizontal-menu li{
    display:block;
    line-height:1.8em;
    border:1px solid #fff;
    padding:10px;
}
.horizontal-menu li a{
color:#fff;
}
.homeLeftMenu{
    position:fixed; 
    left:-3; 
    bottom:140px; 
    margin:0px;
    padding:0px;
    list-style:none;
    min-width:300px;
}
.text-center{
    text-align:center;
}
.homeLeftMenu li{
    padding:10px 20px;
    border-radius:0px 10px 10px 0px; 
    margin-bottom:40px; 
    background: rgba(182, 52, 117, 0.5);
    
    border-right:5px solid #999;
    box-shadow:2px 2px 2px #000;
    
}
.homeLeftMenu li a{
    color:#fff;
    font-size:18px;
    
}
.homeLeftMenu li:hover{
    background:#fff;
    color:#000;
}
.homeLeftMenu li:hover a{
    color:#000;
    display:block;
}
.homeLeftMenu li a span{
    /* color:#999; */
}
.homeLeftMenu li.active{
    background:#fff;
    border-right-color: rgb(182, 52, 117);
}
.homeLeftMenu li.active a{
  color:#000;
}
.footer{
    width:100%;
    position: fixed;
    bottom:0px;
    height: 50px;
    background: rgb(182, 52, 117);
    box-shadow: 2px 2px 2px 2px #000; 
    color:#ccc;
    /* text-shadow:1px 1px 1px #999; */
    font-size:20px;
}
.emailVerify{
    background:#fff;
}
.emailVerifyText h1, .emailVerifyText p{
    text-shadow:none;
    color:#333;
}
.emailBtn{
    padding:15px 30px;
    font-weight:bold;
}
.emailBtn:hover{
    background:#069;
}
/* Media Queries */
/* Default sizes when one is specified */
.col-1-lg{flex-basis:7.33%;}.col-2-lg{flex-basis:15.66%;}.col-3-lg{flex-basis:23.99%;}.col-4-lg{flex-basis:32.32%;}
.col-5-lg{flex-basis:40.65%;}.col-6-lg{flex-basis:48.98%;}.col-7-lg{flex-basis:57.31%;}.col-8-lg{flex-basis:65.64%;}
.col-9-lg{flex-basis:73.97%;}.col-10d-lg{flex-basis:82.3%;}.col-11-lg{flex-basis:90.63%;}.col-12-lg{flex-basis:98.96%;
}
.col-1-md{flex-basis:7.33%;}.col-2-md{flex-basis:15.66%;}.col-3-md{flex-basis:23.99%;}.col-4-md{flex-basis:32.32%;}
.col-5-md{flex-basis:40.65%;}.col-6-md{width:48.98%;}.col-7-md{flex-basis:57.31%;}.col-8-md{flex-basis:65.64%;}
.col-9-md{flex-basis:73.97%;}.col-10-md{flex-basis:82.3%;}.col-11-md{flex-basis:90.63%;}.col-12-md{flex-basis:98.96%;}
 
.col-1-sm{flex-basis:7.33%;}.col-2-sm{flex-basis:15.66%;}.col-3-sm{flex-basis:23.99%;}.col-4-sm{flex-basis:32.32%;}
.col-5-sm{flex-basis:40.65%;}.col-6-sm{flex-basis:48.98%;}.col-7-sm{flex-basis:57.31%;}.col-8-sm{flex-basis:65.64%;}
.col-9-sm{flex-basis:73.97%;}.col-10-sm{flex-basis:82.3%;}.col-11-sm{flex-basis:90.63%;}.col-12-sm{flex-basis:98.96%;}  
[class*="col-6-sm"]{
    margin-bottom:15px;
    
}
.col-1-xs{flex-basis:7.33%;}.col-2-xs{flex-basis:15.66%;}.col-3-xs{flex-basis:23.99%;}.col-4-xs{flex-basis:32.32%;}
    .col-5-xs{flex-basis:40.65%;}.col-6-xs{flex-basis:48.98%;}.col-7-xs{flex-basis:57.31%;}.col-8-xs{flex-basis:65.64%;}
    .col-9-xs{flex-basis:73.97%;}.col-10-xs{flex-basis:82.3%;}.col-11-xs{flex-basis:90.63%;}.col-12-xs{width:98.96%;}

@media screen and (min-width:2001px) and (max-width:3000px) {
    .col-1-lg{flex-basis:7.33%;}.col-2-lg{flex-basis:15.66%;}.col-3-lg{flex-basis:23.99%;}.col-4-lg{flex-basis:32.32%;}
    .col-5-lg{flex-basis:40.65%;}.col-6-lg{flex-basis:48.98%;}.col-7-lg{flex-basis:57.31%;}.col-8-lg{flex-basis:65.64%;}
    .col-9-lg{flex-basis:73.97%;}.col-10d-lg{flex-basis:82.3%;}.col-11-lg{flex-basis:90.63%;}.col-12-lg{flex-basis:98.96%;}
}
@media screen and (min-width:800px) and (max-width:2000px) {
    .col-1-md{flex-basis:7.33%;}.col-2-md{flex-basis:15.66%;}.col-3-md{flex-basis:23.99%;}.col-4-md{flex-basis:32.32%;}
    .col-5-md{flex-basis:40.65%;}.col-6-md{width:48.98%;}.col-7-md{flex-basis:57.31%;}.col-8-md{flex-basis:65.64%;}
    .col-9-md{flex-basis:73.97%;}.col-10-md{flex-basis:82.3%;}.col-11-md{flex-basis:90.63%;}.col-12-md{flex-basis:98.96%;}

}
@media screen and (min-width:401px) and (max-width:799px) {
  .col-1-sm{flex-basis:7.33%;}.col-2-sm{flex-basis:15.66%;}.col-3-sm{flex-basis:23.99%;}.col-4-sm{flex-basis:32.32%;}
    .col-5-sm{flex-basis:40.65%;}.col-6-sm{flex-basis:48.98%;}.col-7-sm{flex-basis:57.31%;}.col-8-sm{flex-basis:65.64%;}
    .col-9-sm{flex-basis:73.97%;}.col-10-sm{flex-basis:82.3%;}.col-11-sm{flex-basis:90.63%;}.col-12-sm{flex-basis:98.96%;}  
    [class*="col-6-sm"]{
        margin-bottom:15px;
        
    }
}
@media screen and (min-width:374px) and (max-width:400px) {
    /* .row{
        display: block;
    } */
  
    .col-1-xs{flex-basis:7.33%;}.col-2-xs{width:15.66%;}.col-3-xs{flex-basis:23.99%;}.col-4-xs{flex-basis:32.32%;}
    .col-5-xs{flex-basis:40.65%;}.col-6-xs{flex-basis:48.98%;}.col-7-xs{flex-basis:57.31%;}.col-8-xs{flex-basis:65.64%;}
    .col-9-xs{flex-basis:73.97%;}.col-10-xs{flex-basis:82.3%;}.col-11-xs{flex-basis:90.63%;}.col-12-xs{width:98.96%;}
    [class*="col-"]{
        margin-bottom:15px;
    }
}
/* Responsive Menu queries */
@media screen and (max-width:383px) {
    .frontTitle h1{
        font-size: 30px;
        text-align:center;
    }
    .frontTitle p{
        font-size:18px;
        text-align:center;
        color: #CCC;
        line-height: 1.5em;
    }
}
@media screen and (max-width:605px) {
    .frontTitle h1{
        font-size: 30px;
        text-align:center;
    }
}
  
    @media screen and (max-width:824px) {
        .frontTitle h1{
            font-size: 40px;
            text-align:justify;
        }
      
    }

@media screen and (max-width:417px) {
    .frontTitle h1{
        font-size: 30px;
        text-align:center;
    }
    .frontTitle p{
        font-size:18px;
        text-align:center;
        color: #CCC;
        line-height: 1.5em;
    }
}
@media screen and (min-width:250px) and (max-width:973px) {
    .vertical-menu li:not(:last-child) {
        display: none;
    }
    .vertical-menu{
        width:auto;
        border: none;
        padding: 0px;
        justify-content: flex-end;
    }
    .vertical-menu li, .vertical-menu li a{
        padding:5px 0px;
    }
    .icon{
        display: block;
        width:40px;
        height: auto;
    }
}
@media screen and (min-width:974px) and (max-width:2000px) {
    .icon{
        display: none;
    }
}
.markdown table thead th tr t{
    padding:10px;
    border:1px solid #666;
}

